<% provide(:title, "農園紹介") %>
<div class = "main">
  <h2>農園紹介</h2>
  <div class = "people">
    <h3>◆育てとる人◆</h3>
    <div class = "content">
      <img >
      <div class = "txt-contents">
        <p>石原　欽吾・真理</p>
        <p>夫婦で力合わせてやらせてもろてます。</p>
      </div>  
    </class>
  </class>
  
  <div class = "place">
    <h3>◆育てとる場所◆</h3>
    <div class = "content">
      <img >
      <div class = "txt-contents" >
        <p>大阪府東大阪市</p>
        <p>都会を感じさせない、自然豊かな場所。</p>
      </div>  
      <a>img</a>
      <a>img</a>
    </class>
  </class>
  
  <div class = "comment">
    <h3>◆こだわり◆</h3>
    <div class = "contents">
      <div class = "content">
        <img >
        <div class = "txt-contents">
          <p>小さなお子様にも安心・安全の無農薬栽培。</p>
          <p>やっぱり口に入るもんやから、</p>
          <p>変なものは絶対作らへん。</p>
          <p>プライドもって作ってます。</p>
        </div>  
      </div>
      <div class = "content">
        <img >
        <div class = "txt-contents">
          <p>収穫したものを美味しい状態で、</p>
          <p>お客様に食べていただきたい。</p>
          <p>鮮度にこだわるから、</p>
          <p>その日収穫したもんを</p>
          <p>直売所に並べてます。</p>
        </div>  
      </div>
    </div>  
</class>