<li>
  <% if user.image_name? %>
    <%= image_tag user.image_name, size: "50x50" %>
  <% else %>
    <img src="/user_images/avater.jpg", class="avater_image" >
   <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
   | <%= link_to "削除", user, method: :delete,
                              data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>