<% if current_user.image_name? %>
  <%= image_tag current_user.image_name, class: "avater_image" %>
<% else %>
  <img src="/user_images/avater.jpg", class="avater_image" >
 <% end %>
<h1><%= current_user.name %></h1>
<span><%= link_to "プロフィール", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "ポスト") %></span>
