<div class="post-user-name">
  <% if @user.image_name? %>
    <%= image_tag @user.image_name, size: "50x50" %>
  <% else %>
    <img src="/user_images/avater.jpg", class="avater_image" >
  <% end %>
  <%= link_to(@user.name,"/users/#{@user.id}") %>
</div>